.leaflet-sbs-range {
  position: absolute;
  top: calc(50% - 20px);
  height: 40px;
  width: 100%;
  z-index: 999;
  pointer-events: auto;
}

.leaflet-sbs-range {
  touch-action: none;
}

.leaflet-sbs-range input {
  pointer-events: auto;
  touch-action: none;
}

.leaflet-sbs-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  width: 4px;
  background-color: #fff;
  /* pointer-events: none;
    z-index: 999; */
  pointer-events: auto;
  cursor: ew-resize;
  z-index: 1000;
}
